
body{
    min-height: 100vh;
    padding: 0;
    

}
.header{
    margin-top: 0;
    min-height: 10vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: -25px;
}
.mid{
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(179, 172, 172);
}
.footer{
    min-height: 20vh;
    width: 100vw;
    background-color: rgb(56, 45, 45);
}
.header{
    display: flex;
    
}